.App{
  color:lightgrey;
}
.icon{
  cursor:pointer;
}
.title{
  color:#b71c1c;
  z-index:2;
  text-align:center;
}
.welcome{
  font-size:5em;
  color:darkred;
}
.bcr{
  color:white;
  font-size:2em;
}
.adv{
  color:blue;
  font-size:1.5em;
}
.title{
  margin-top:150px;
}
.intro{
  background:url('../images/car.jpg') no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-color:#1c120c;
  background-size:cover;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
  height:100vh;
}
.cars{
  background:url('../images/classic.jpg');
  height:50vh;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
}
.bikes{
  background:url('../images/cycle.png') no-repeat center fixed;
  height:50vh;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-color:#1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
}
.agenda{
  background:url('../images/fastCar.jpg') no-repeat center fixed;
  height:50vh;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-color:#1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
}
.motovation{
  background:url('../images/motocycle.jpg') no-repeat center fixed;
  height:50vh;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-color:#1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
}
.wwdawTitle{
  text-align:center;
  color:darkred;
  font-weight:300;
  margin-top:100px;
}
h3{
  text-align:center;
  font-weight:300;
  color:darkred;
  margin-top:0px;
}
.wwdaw{
  background-color:#616161;
  height:50vh;
}
.pepper{
  width:50%;
  margin-top:40px;
}
.list li:before{
  content:'\1f336';
  margin-left:-20px;
}
.list{
  list-style-type:none;
  margin-top:50px;
}
